h1,
h2,
h3,
p {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: crimson;
}

p {
    font-weight: 900;
    color: green;
}

ul,
ol,
li {
    text-align: center;
    list-style: none;
    margin-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: green;
}

div {
    text-align: center;
}

body {
    background-color: rgb(202, 187, 187)
}